/* cart1.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f5f8;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.cart-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Aggiunge uno scroll verticale se necessario */
    max-height: calc(100vh - 200px); /* Limita l'altezza del contenitore per lasciare spazio per il footer */
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 8px;
}

.cart-item h2 {
    font-size: 18px;
    margin: 5px 0;
    color: #333;
}

.cart-item p {
    margin: 5px 0;
    color: #666;
}

.cart-item .price {
    font-size: 16px;
    margin-right: 10px;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    background-color: #1E90FF;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
}

.quantity-input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.item-total-price {
    font-size: 16px;
    margin-left: auto;
}

.total-cart-price {
    margin-top: 20px;
    text-align: right;
}

.total-cart-price h3 {
    font-size: 24px;
    color: #333;
}

.continue-shopping {
    margin-top: 20px;
    text-align: center;
}

.continue-shopping a {
    background-color: #1E90FF;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.continue-shopping a:hover {
    background-color: #0e69c3;
}
